:root {
    --theme-green: #28a000;
    --theme-brown: #805c00;
    --theme-white: #fff5f0;
    --theme-grey: #3e3e3e;
}

* {
    color: var(--theme-brown);
    font-family: "poppins", sans-serif;
    font-weight: 600;
}
/* 
#logo {
  color: #707070;
  font-family: "rig-shaded-medium-extrude", sans-serif;
  font-size: 40px;
  -webkit-transition: 0.5s all ease-out;
  -moz-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

#logo:hover {
  color: var(--theme-green);
} */

.about-me {
    font-family: "acumin-pro", sans-serif;
    font-weight: 500;
}

.keyword {
    color: var(--theme-green);
}

.top-font {
    font-size: 1.25rem;
}

@media (max-width: 639px) {
    .top-font {
        font-size: 1rem;
    }
}
